.App {
  background: linear-gradient( 
    -45deg, rgb(253, 157, 30) 10%, rgb(247, 62, 62) 70%);;
  height: 100%;
  text-align: center;
}
::-webkit-scrollbar{
  width: 0;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1020px;
  min-height: 600px;
  border: 2px solid #0727b6;
  /* background: #161a2b; */
  text-align: center;
  border-radius: 10px;
  padding-bottom: 32px;
}
.footer{
  margin-top: 20px;
}
.footer h5{
  padding-top: 20px;
  color: #fff;
}
@media (max-width: 1024px) {
      .todo-app{
        width: unset;
        margin-top: 50px;
      }
}


