.App {
  background-color: gainsboro;
  height: 100%;
  text-align: center;
}
::-webkit-scrollbar{
  width: 0;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1020px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 32px;
}
@media (max-width: 1024px) {
      .todo-app{
        width: unset;
        margin-top: 50px;
      }
}


