.featuresImage{
    height: 50px;
}
.features p{
    font-size: 16px;
}
.featurecard{
    border: 2px solid #0727b6;
    border-radius: 12px;
    background: transparent;
    padding: 2px;
    margin-left: 80px;
}
@media (max-width: 1024px){
    .featuresImage{
        height: 50px;
    }
    .featurecard{
        margin-left: unset;
    }
}