.todo-list {
    margin-top: 10px;
    background: #ffffff;
    margin-left: 380px;
    border-radius: 4px;
    width: 500px;
    padding: 5px;
}
  
.todo {
    align-items: center;
    box-shadow: 0px 1px 0px black; 
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 8px 12px;
}
@media(max-width: 768px){
    .todo-list{
        /* width:unset; */
        margin-left: unset;
    }
}